#!/bin/zsh

# Host that you want to monitor
host='www.myhost.com'

# Ports that should listen on this host
ports=(ssh smtp domain http https imaps pop3)

# If something is wrong, send a mail to that guy
mailto='my-email@example.com'

# Increase if you get false positives on slow hosts
timeout=1

# set to 1 to enable sms alert
sendsms=0

# your username & password for the sipgate.de web-interface (not SIP-ID)
username=Yourname
password=asdasdf

# Number to send the message to, incl. international prefix.
number=49176111222333
