#!/bin/zsh

# Host that you want to monitor
host='www.myhost.com'

# Ports that should listen on this host
ports=(ssh smtp domain http https imaps pop3)

# If something is wrong, send a mail to that guy
mailto='my-email@example.com'

# Increase if you get false positives on slow hosts
timeout=1

